<%- include('../include/head.ejs') %>

<div class="wrapper user-home-wrapper">
   <%- include('../include/userHome/user-home-topnav.ejs') %>
   <div class="user-home-content">
      <%- include('../include/userHome/user-home-left.ejs') %>
      <%- include('../include/userHome/user-home-centre.ejs') %>
      <%- include('../include/userHome/user-home-right.ejs') %>
  </div>
</div>

<%- include('../include/end.ejs') %>
