<%- include('../../head.ejs') %>

<div class="wrapper question-wrapper">
    <%- include('../user-home-topnav.ejs') %>
    <div class="question-content">
        <%- include('../user-home-left.ejs') %>
        <%- include('./question-right.ejs') %>
    </div>
</div>

<%- include('../../end.ejs') %>